@use 'lib/themes/variables';

div.default-card {
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 10px 4px variables.$iconic-yellow;
  margin: 28px auto;
  max-width: 800px;
  padding: 42px 42px;
}

footer.default-card-footer {
  justify-content: right;
  padding-top: 28px;
}

header.default-card-header {
  display: grid;
  font-family: Aloja;
  font-size: 2.2em;
  padding-bottom: 28px;
}