@import "lib/themes/variables";

#link-enter-explore {
  font-family: Aloja;
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
}

#globe-image {
  display: flex;
}

#globe-image, #map-preview-image, #map-preview-image-2 {
  opacity: 0.95;
}

#map-preview-image {
  margin-left: 0;
  margin-right: auto;
}

#map-preview-image-2 {
  margin-left: auto;
  margin-right: 0;
}

#main-home {
  margin: 28px;
}

.summary-container {
  display: inline;
  font-size: larger;

  :nth-child(2), :last-child {
    margin-left: auto;
    margin-right: 0;
    text-align: end;
  }

  div {
    margin-left: 0;
  }

  p {
    background-color: black;
    color: white;
    font-size: 18px; 
    line-height: 28px;
    padding: 4px 10px;
  }

  :last-child {
    top: 0px;
  }
}

