@font-face {
  font-family: Aloja;
  src: url('../../public/fonts/Aloja-Extended.woff');
}

#logo {
  font-family: 'Aloja';
  font-size: 4em;
  margin: 28px 28px 0px 0px;
  text-decoration: none;
  transform: rotate(350deg);

  &-1, &-2 {
    display: inline;
  }

  &-1 {
    color: rgb(16, 192, 223);
  }
}

#main-header {
  display: flex;
  padding: 14px;
}

#tagline {
  font-family: 'Aloja';
  font-size: 1.1em;
  margin: auto auto 0 14px;
  transform: rotate(356deg);

  &:hover {
    transition: all 0.4s ease-in-out;
    transform: rotate(359deg) scale(1.1);
  }
}