#auth-status {
  margin: 0 0 0 auto;

  &-options {
    display: flex;
    margin-top: 28px;
    min-width: 200px;

    a {
      display: block;
      font-weight: 600;
      padding: 0px 12px;
      text-decoration: none;
    }
  }
}

button#login-submit-button {
  display: flex;
  margin: 14px 0 0 auto;
}

button#sign-up-submit-button {
  display: flex;
  margin: 14px 0 0 auto;
}